<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>优爱医护</title>
    <meta name="viewport" content="width=320,user-scalable=no" />
	<meta content="telephone=no" name="format-detection" />
	<link href="./css/style.css" rel="stylesheet" />
</head>
<body id="page-nurses-detail">

	<header id="header">
		<a class="back" href="javascript:history.back(1)">返回</a>
		<h2 class="title">护理员详情</h2>
        <a class="home" href="/">首页</a>
	</header>

    <div id="nurses_detail"></div>

    <script id="bodyTemplate" type='text/html'>
	<div class="menu card" >
        <div class="nurses-photo" style="background-image: url({{data.pic}})"></div>
        <div class="nurses-intro">
            {{if data.level==1}}
                <h2 class="nurses-name care-level care-level-junior">
            {{else if data.level==2}}
                <h2 class="nurses-name care-level care-level-middle">
            {{else if data.level==3}}
                <h2 class="nurses-name care-level care-level-hight">
            {{else if data.level==4}}
                <h2 class="nurses-name care-level care-level-special">
            {{/if}}
            {{data.name}}</h2>
            <p class="code">工号：{{data.worker_id}}</p>
            <p class="info">
                <span class="years" id="start_work">{{dateFormat(data.start_work)}}年护理经验</span>
                <span class="mandarin">普通话{{data.chinese_level}}</span>
            </p>
            <p class="info">
                <span id="birth">{{dateFormat(data.birth)}}岁</span>
                <span>{{data.native_province}}</span>
                <span>{{data.nation}}</span>
                <span>{{data.education}}</span>
            </p>
        </div>
    </div>
	<section class="menu detail">
		<h3 class="menu-title">详细信息</h3>
		<a class="menuitem" id="self-intro">自我介绍：{{data.selfIntros[0].ext1}}</a>
	</section>
	<div class="menu detail">
		<a class="menuitem" id="position">常驻医院：{{data.hospital_id}}</a>
	</div>
    <div class="menu detail">
        <a class="menuitem" id="department">常驻科室：{{data.office_id}}</a>
    </div>
	<!--<div class="menu detail">-->
		<!--<a class="menuitem" id="expert">擅长护理疾病：{{data.good_at}}</a>-->
	<!--</div>-->
	<div class="menu detail">
		<a class="menuitem" id="credentials">持有证件：{{data.certificate}}</a>
	</div>
    <div class="menu detail">
        <a class="menuitem" id="content" href="workerLevel.html#{{data.level}}" >服务内容：
            {{if data.level==1}}
                负责患者日常生活护理，保持患者身体及床单位卫生清洁，帮助患者打饭及陪患者散步等。
            {{else if data.level==2}}
                包括初级护理的所有服务内容,及帮助患者翻身、扣背,防止患者身体长褥疮,观察患者病情变化等。
            {{else if data.level==3}}
                包括中级护理的所有服务内容,懂得ICU及危重、特殊病人的看护,协助患者进行简单康复锻炼等。
            {{else if data.level==4}}
                包括高级护理的所有服务内容,并协助安抚病人情绪、为病人做心理辅导等。
            {{else}}
                负责患者日常生活护理，保持患者身体及床单位卫生清洁，帮助患者打饭及陪患者散步等。
            {{/if}}
        </a>
    </div>
    <div class="pay-operation">
        <a href="/orderConfirm.html?type=select&worker_no={{data.worker_id}}" role="button" class="pay">立即预约</a>
        <span class="price"><i class="currency">&yen;</i><em id="price"></em>元/天</span>
    </div>
    </script>
<!--
	<div class="menu reviews">
		<div class="menu-title"><a href="#" class="more" >17条评论</a><span class="nurses-rate">☆☆☆☆☆</span></div>
		<ul>
			<li>
				<div>
					<span class="nurses-rate">☆☆☆☆☆</span>
					<em class="user">139****7234</em>
					<i class="time">2015-03-09</i>
				</div>
				<p>服务很细心，照顾老人很周到，很满意</p>
			</li>
			<li>
				<div>
					<span class="nurses-rate">☆☆☆☆☆</span>
					<em class="user">139****7234</em>
					<i class="time">2015-03-09</i>
				</div>
				<p>服务很细心，照顾老人很周到，很满意</p>
			</li>
			<li>
				<div>
					<span class="nurses-rate">☆☆☆☆☆</span>
					<em class="user">139****7234</em>
					<i class="time">2015-03-09</i>
				</div>
				<p>服务很细心，照顾老人很周到，很满意</p>
			</li>
		</ul>
	</div>

	<div class="menu experience">
		<div class="menu-title">
			<a href="#" class="more">更多经历</a>
			从业经历
		</div>
		<ul>
			<li>
				<i class="time">2014/02/12至2015/02/28</i>
				<p>健康证、心理辅导证、驾驶证、特级营养师...</p>
			</li>
			<li>
				<i class="time">2014/02/12至2015/02/28</i>
				<p>健康证、心理辅导证、驾驶证、特级营养师...</p>
			</li>
		</ul>
	</div>
-->

    <script type='text/javascript' src='/js/zepto.min.js'></script>
    <script type='text/javascript' src='/js/template.js'></script>
    <script type='text/javascript' src='/js/public.js'></script>
    <script type="text/javascript" src="/js/worker/worker.js"></script>
    <script type="text/javascript">
        get_workedetail();
    </script>
</body>
</html>
