<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
    <title>护理员详情　优爱医护-您的贴心护理员</title>
    <meta name="Keywords"  content="医院护工、家庭陪护、老年护理员、北京护工、养老护理员、医院陪护" />
    <meta name="Description" content="优爱医护网，护理员详情功能，为您展示所选择护理员的准确、详尽信息,在这里您可以全面的了解所选护理员的个人信息。更多功能尽在优爱医护-您的贴心护理员。" />
    <meta name="viewport" content="width=320,user-scalable=no" />
	<meta content="telephone=no" name="format-detection" />
	<link href="./css/style.css" rel="stylesheet" />
</head>
<body id="page-nurses-detail">
	<header id="header">
		<a class="back" href="javascript:history.back(1)">返回</a>
		<h2 class="title">护理员详情</h2>
        <a class="home" href="/">首页</a>
	</header>
    <div id="nurses_detail"></div>
    <script id="bodyTemplate" type='text/html'>
	<div class="menu card" >
        <div class="nurses-photo" style="background-image: url({{data.pic}})"></div>
        <div class="nurses-intro">
            <!--{{if data.level==1}}-->
                <!--<h2 class="nurses-name care-level care-level-junior">-->
            <!--{{else if data.level==2}}-->
                <!--<h2 class="nurses-name care-level care-level-middle">-->
            <!--{{else if data.level==3}}-->
                <!--<h2 class="nurses-name care-level care-level-hight">-->
            <!--{{else if data.level==4}}-->
                <!--<h2 class="nurses-name care-level care-level-special">-->
            <!--{{/if}}-->
            <h2 class="nurses-name care-level">{{data.name}}</h2> <span class="code">{{data.level_name}}</span>
            <p class="code">工号：{{data.worker_id}}  </p>
            <p class="info">
                <span class="years" id="gender">{{data.gender}}</span>
                <span class="years" id="start_work">{{dateFormat(data.start_work)}}年护理经验</span>
                <span class="mandarin">普通话{{data.chinese_level}}</span>
            </p>
            <p class="info">
                <span id="birth">{{dateFormat(data.birth)}}岁</span>
                <span>{{data.native_province}}</span>
                <span>{{data.nation}}</span>
                <span>{{data.education}}</span>
            </p>
        </div>
    </div>
    <h3 class="menu-title">详细信息</h3>
    {{if data.selfIntros[0]}}
        <section class="menu detail">
            <a class="menuitem" id="self-intro">自我介绍：{{data.selfIntros[0]['ext1']}}</a>
        </section>
    {{/if}}
    <!--{{if data.hospital_id}}-->
        <!--<div class="menu detail">-->
            <!--<a class="menuitem" id="position">常驻医院：{{data.hospital_id}}</a>-->
        <!--</div>-->
    <!--{{/if}}-->
    {{if data.office_id}}
        <div class="menu detail">
            <a class="menuitem" id="department">擅长科室：{{data.office_id}}</a>
        </div>
    {{/if}}
	<!--<div class="menu detail">-->
		<!--<a class="menuitem" id="expert">擅长护理疾病：{{data.good_at}}</a>-->
	<!--</div>-->
    {{if data.certificate}}
        <div class="menu detail">
            <a class="menuitem" id="credentials">持有证件：{{data.certificate}}</a>
        </div>
    {{/if}}
    <div class="menu detail">
        <a class="menuitem" id="content" href="workerLevel.html#{{data.level}}" >服务内容：
            {{if data.level==1}}
                负责患者日常生活护理，保持患者身体及床单位卫生清洁，帮助患者打饭及陪患者散步等。
            {{else if data.level==2}}
                包括初级护理的所有服务内容,及帮助患者翻身、扣背,防止患者身体长褥疮,观察患者病情变化等。
            {{else if data.level==3}}
                包括中级护理的所有服务内容,懂得ICU及危重、特殊病人的看护,协助患者进行简单康复锻炼等。
            {{else if data.level==4}}
                包括高级护理的所有服务内容,并协助安抚病人情绪、为病人做心理辅导等。
            {{else}}
                负责患者日常生活护理，保持患者身体及床单位卫生清洁，帮助患者打饭及陪患者散步等。
            {{/if}}
        </a>
    </div>
    {{if data.total_comment>0}}
    <div class="menu reviews">
        <div class="menu-title"><a href="nursesReviews.html?worker_id={{data.worker_id}}" class="more" >{{data.total_comment}}条评论</a>
            <span class="nurses-rate">
                {{if data.star ==5}}☆☆☆☆☆{{/if}}
                {{if data.star ==4}}☆☆☆☆{{/if}}
                {{if data.star ==3}}☆☆☆{{/if}}
                {{if data.star ==2}}☆☆{{/if}}
                {{if data.star ==1}}☆{{/if}}
            </span>
        </div>
        <ul>
            {{each data.comments as value i}}
            <li>
                <div>
                    <span class="nurses-rate">
                        {{if value.star ==5}}☆☆☆☆☆{{/if}}
                        {{if value.star ==4}}☆☆☆☆{{/if}}
                        {{if value.star ==3}}☆☆☆{{/if}}
                        {{if value.star ==2}}☆☆{{/if}}
                        {{if value.star ==1}}☆{{/if}}
                    </span>
                    <em class="user">{{value.mobile}}</em>
                    <i class="time">{{value.audit_date}}</i>
                </div>
                <p>{{value.content}}</p>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
    <div class="pay-operation">
        {{if data.in_service=='true'}}
            <span role="button" class="busy">服务中</span>
        {{else}}
            <button role="button" class="pay" id="pay" onclick="pay('{{data.worker_id}}','{{data.start_time}}','{{data.end_time}}')">立即预约</button>
        {{/if}}
        <span class="price"><i class="currency">&yen;</i><em id="price"></em>元/天</span>
    </div>
    </script>
    <div id="foot"></div>
    <script type='text/javascript' src='/js/zepto.min.js'></script>
    <script type='text/javascript' src='/js/template.js'></script>
    <script type='text/javascript' src='/js/public.js'></script>
    <script type="text/javascript" src="/js/worker/worker.js?v=2015061101"></script>
    <script type="text/javascript">
        get_workedetail();
    </script>
</body>
</html>