<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>护理员详情　优爱医护-您的贴心护理员</title>
    <meta name="Keywords"  content="医院护工、家庭陪护、老年护理员、北京护工、养老护理员、医院陪护" />
    <meta name="Description" content="优爱医护网，护理员详情功能，为您展示所选择护理员的准确、详尽信息,在这里您可以全面的了解所选护理员的个人信息。更多功能尽在优爱医护-您的贴心护理员。" />
    <meta name="viewport" content="width=320,user-scalable=no" />
    <meta content="telephone=no" name="format-detection" />
    <link href="./css/style.css" rel="stylesheet" />
    <div id='wx_pic' style='margin:0 auto;display:none;'>
        <img src='/images/pic300.jpg' />
    </div>
</head>
<body id="page-nurses-detail">
<header id="header">
    <a class="back" href="javascript:history.back(1)">返回</a>
    <h2 class="title">评价</h2>
    <a class="home" href="/">首页</a>
</header>
<div id="nurses_detail"></div>
<script id="bodyTemplate" type='text/html'>
    <div class="menu reviews">
        <ul>
            {{each data.comments as value i}}
            <li>
                <div>
                    <span class="nurses-rate">
                        {{if value.star ==5}}☆☆☆☆☆{{/if}}
                        {{if value.star ==4}}☆☆☆☆{{/if}}
                        {{if value.star ==3}}☆☆☆{{/if}}
                        {{if value.star ==2}}☆☆{{/if}}
                        {{if value.star ==1}}☆{{/if}}
                    </span>
                    <em class="user">{{value.mobile}}</em>
                    <i class="time">{{value.audit_date}}</i>
                </div>
                <p>{{value.content}}</p>
            </li>
            {{/each}}
        </ul>
    </div>
</script>
<div id="foot"></div>
<script type='text/javascript' src='/js/zepto.min.js'></script>
<script type='text/javascript' src='/js/template.js'></script>
<script type='text/javascript' src='/js/public.js'></script>
<script type="text/javascript" src="/js/worker/worker.js?v=20150611"></script>
<script type="text/javascript">
    get_workedetail();
</script>
</body>
</html>