<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>优爱医护</title>
    <meta name="viewport" content="width=320,user-scalable=no" />
    <meta content="telephone=no" name="format-detection" />
    <link href="../css/style.css" rel="stylesheet" />

    <script src='../js/template.js'></script>
    <script type='text/javascript' src='../js/zepto.min.js'></script>
    <script src="../js/public.js"></script>
    <script src="../js/zepto-with-touch.min.js"></script>
    <script src="../js/popup.js"></script>


</head>
<body id="page-express">
    <div id="body"></div>
    <div id="foot"></div>
    <script id="bodyTemplate" type='text/html'>
        <header id="header">
            <a class="back" href="javascript:history.back(1)">返回</a>
            <h2 class="title">{{if type=='select'}}立即下单{{else}}快速预定{{/if}}</h2>
            <a class="home" href="/">首页</a>
        </header>
        <form class="menu-form"  method="post">
            <input type="hidden" value="{{mobile}}" name="mobile" id="mobile">
            {{if mobile}}
            <!-- 已登录状态 -->
            <menu class="menu">
                <span class="menuitem" role="menuitem">
                    <em class="title">联系方式：</em>
                    <i class="value" data-placeholder="快捷登录">{{mobile}}</i>
                </span>
            </menu>
            {{else}}
            <menu class="menu">
                <a class="menuitem" role="menuitem" href="login.html"><em class="title">联系方式：</em><i class="value" data-placeholder="快捷登录"></i></a>
            </menu>
            {{/if}}

            <menu class="menu">
                <label class="menuitem" role="menuitem" for="care-start">
                    <em class="title">服务开始时间：</em>
                    <input type="date" class="value empty" id="care-start" name="start" value=""/>
                </label>
                <label class="menuitem" role="menuitem" for="care-end">
                    <em class="title">服务结束时间：</em>
                    <input type="date" class="value" id="care-end" name="end" value=""/>
                    <i data-placeholder="请选择" id="care-days" class="value"></i>
                    <input type="hidden" id="days" name="days" value="" />
                </label>
                <a href="hospitals.html" id="hospitals-menuitem" target="popup" class="menuitem" role="menuitem">
                    <em class="title">服务医院：</em>
                    <label class="value" data-placeholder="请选择"></label>
                    <input type="hidden" id="hospital_id" name="hospital_id" value="" />
                </a>
                <a href="departments.html" id="departments-menuitem" target="popup" class="menuitem" role="menuitem">
                    <em class="title">服务科室：</em>
                    <label class="value" data-placeholder="请选择"></label>
                    <input type="hidden" id="department_id" name="department_id" value="" />
                </a>
            </menu>

            <!--<menu class="menu">-->
                <!--<a href="patient-status.html" id="patient-status-menuitem" target="popup" class="menuitem" role="menuitem">-->
                    <!--<em class="title">病患状态：</em><label class="value" data-placeholder="请选择"></label>-->
                    <!--<i class="additional">护理费用每天将增加30%</i>-->
                    <!--<input type="hidden" id="patient-status" name="patient-status" value="2" />-->
                <!--</a>-->
            <!--</menu>-->
            <!--<menu class="menu">-->
                <!--<label class="menu-label">选择护理等级:</label>-->
                <!--<div class="care-levels menuitem" role="menuitem">-->
                    <!--<label class="care-level" for="care-level-middle">-->
                        <!--<span class="level care-level-middle">{{worker_levels[0]['name']}}</span>-->
                        <!--<input type="radio" name="care-level" id="care-level-middle" value="1" />-->
                        <!--<span class="price">￥<em>{{worker_levels[0]['price']}}</em>元/天</span>-->
                        <!--<span class="additional">+30%</span>-->
                    <!--</label>-->

                    <!--<label class="care-level checked" for="care-level-hight">-->
                        <!--<span class="level care-level-hight">{{worker_levels[1]['name']}}</span>-->
                        <!--<input type="radio" name="care-level" checked id="care-level-hight" value="2" />-->
                        <!--<span class="price">￥<em>{{worker_levels[1]['price']}}</em>元/天</span>-->
                        <!--<span class="additional">+30%</span>-->
                    <!--</label>-->
                    <!--<label class="care-level" for="care-level-special">-->
                        <!--<span class="level care-level-special">{{worker_levels[2]['name']}}</span>-->
                        <!--<input type="radio" name="care-level" id="care-level-special" value="3" />-->
                        <!--<span class="price">￥<em>{{worker_levels[2]['price']}}</em>元/天</span>-->
                        <!--<span class="additional">+30%</span>-->
                    <!--</label>-->
                <!--</div>-->
            <!--</menu>-->
            <input type="button" {{if type=='select'}}value=" 确 定 "{{else}}value="立即下单"{{/if}} id="orderCreate" name="orderCreate"/>
        </form>
    </script>

    <script src="../js/order/order.js"></script>
    <script>
        $('.care-level input[type="radio"]').live('click', function () {
            [].forEach.call(this.form.elements[this.name], function (radio) {
                $(radio).parent()[radio === this ? 'addClass' : 'removeClass']('checked');
            }, this);
        });
    </script>
</body>
</html>