<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>我的订单 优爱医护-您的贴心护理员</title>
    <meta name="viewport" content="width=320,user-scalable=no" />
	<meta content="telephone=no" name="format-detection" />
	<link href="../css/style.css" rel="stylesheet" />
    <div id='wx_pic' style='margin:0 auto;display:none;'>
        <img src='/images/pic300.jpg' />
    </div>
</head>
<body>
<header id="header">
    <a class="back" href="javascript:history.back(1)">返回</a>
    <h2 class="title">我的订单</h2>
    <a class="home" href="/">首页</a>
</header>
<div id="body"></div>
<script id="bodyTemplate" type='text/html'>
    <ul class="order-list">
        {{if items}}
            {{each items as value index}}
                <li class="menu" data-url="/my/orderDetail.html?order_no={{value.order_no}}">
                    <div class="menuitem">
                        <div class="nurses-photo" style="background-image:url({{value.pic}})"></div>
                        <div class="order-info">
                            <div class="status">订单状态：
                                <em class="{{value.div_status}}">
                                    {{value.order_status}}
                                </em>
                            </div>
                            <h4 class="nurses-name">
                                {{if value.worker_name}}
                                    {{value.worker_name}}
                                {{else}}
                                    {{if value.worker_level==1}}初级陪护服务{{/if}}
                                    {{if value.worker_level==2}}中级陪护服务{{/if}}
                                    {{if value.worker_level==3}}高级陪护服务{{/if}}
                                    {{if value.worker_level==4}}特级陪护服务{{/if}}
                                {{/if}}
                            </h4>
                            <p>{{value.start_time | dateFormat:'yyyy/MM/dd'}}至{{value.end_time | dateFormat:'yyyy/MM/dd'}}</p>
                           <p>陪护服务{{value.days}}天</p>
                        </div>
                    </div>
                </li>
            {{/each}}
        {{else}}
            <li class="menu">还没有订单</li>
        {{/if}}
    </ul>
</script>
<div id="foot"></div>
<script type='text/javascript' src='../js/zepto-with-touch.min.js'></script>
<script src='../js/template.js'></script>
<script type='text/javascript' src='../js/public.js'></script>
<script type="text/javascript" src="../js/my/myOrders.js"></script>
<script>
    /**
     * 对日期进行格式化，
     * @param date 要格式化的日期
     * @param format 进行格式化的模式字符串
     *     支持的模式字母有：
     *     y:年,
     *     M:年中的月份(1-12),
     *     d:月份中的天(1-31),
     *     h:小时(0-23),
     *     m:分(0-59),
     *     s:秒(0-59),
     *     S:毫秒(0-999),
     *     q:季度(1-4)
     * @return String
     * @author yanis.wang
     * @see	http://yaniswang.com/frontend/2013/02/16/dateformat-performance/
     */
    template.helper('dateFormat', function (date, format) {
        date = new Date(Date.parse(date.replace(/-/g,   "/")));

        var map = {
            "M": date.getMonth() + 1, //月份
            "d": date.getDate() //日
        };
        format = format.replace(/([yMd])+/g, function(all, t){
            var v = map[t];
            if(v !== undefined){
                if(all.length > 1){
                    v = '0' + v;
                    v = v.substr(v.length-2);
                }
                return v;
            }
            else if(t === 'y'){
                return (date.getFullYear() + '').substr(4 - all.length);
            }
            return all;
        });
        return format;
    });
</script>
</body>
</html>