<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>订单详情</title>
    <meta name="viewport" content="width=device-width,maximum-scale=1,minimum-scale=1" />
    <meta content="telephone=no" name="format-detection" />
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body id="page-order-detail">
    <div id="head"></div>
    <header id="header">
        <a class="back" href="/my/myOrders.html">返回</a>
        <h2 class="title">订单详情</h2>
        <a class="home" href="/">首页</a>
    </header>
    <div id="body"></div>
    <div id="foot"></div>
    <script id="bodyTemplate" type='text/html'>
        {{include 'headTemplate'}}
        <section class="menu">
            <h3 class="menu-title">订单状态：<span>
                {{if data.order_status=='wait_pay'}}待支付{{/if}}
                {{if data.order_status=='wait_confirm'}}待确认{{/if}}
                {{if data.order_status=='wait_service'}}待服务{{/if}}
                {{if data.order_status=='in_service'}}服务中{{/if}}
                {{if data.order_status=='end_service'}}结束服务{{/if}}
                {{if data.order_status=='cancel'}}取消订单{{/if}}
                {{if data.order_status=='end_evaluate'}}结束评价{{/if}}
            </span></h3>
            <div class="menuitem pay-tips">{{data.order_des}}</div>
        </section>

        <section class="menu">
            <h3 class="menu-title">订单编号：{{data.order_no}}</h3>
            <div class="menuitem">
                <em class="title">服务时间：</em>
                <span class="detail">{{data.start_time | dateFormat:'yyyy/MM/dd'}}至{{data.end_time | dateFormat:'yyyy/MM/dd'}}</span>
                <i class="value">共{{data.days}}天</i>
            </div>
            <div class="menuitem">
                <em class="title">服务地点</em>
                <i class="value" style="max-width: 200px;">{{data.hospitals_name}}</i>
            </div>
            <div class="menuitem">
                <em class="title">病患状态</em>
                <i class="value">{{data.patient_states_name}}</i>
            </div>
            <div class="nurses-selected menuitem" role="menuitem">
                <em class="title">护理员：</em>
                <div class="nurses-detail">
                    <div class="nurses-photo" style="background-image: url({{if data.pic}}{{data.pic}}{{else}}/images/default-avatar.jpg{{/if}})"></div>
                    <h5 class="care-level-hight nurses-title"> {{data.worker_levels_name}}</h5>
                    <dl>
                        <dt>姓名：</dt>
                        <dd>{{if data.worker_name}}{{data.worker_name}}{{else}}&nbsp;{{/if}}</dd>
                        <dt>工号：</dt>
                        <dd>{{if data.worker_no}}{{data.worker_no}}{{else}}&nbsp;{{/if}}</dd>
                    </dl>
                </div>
            </div>
        </section>
        <section class="menu" role="menu">
            <h3 class="menu-title">订单金额</h3>
            <div class="menuitem" role="menuitem">
                <table class="menu-detail">
                    <tbody>
                    <tr>
                        <td>{{data.worker_levels_name}}服务{{data.days}}天</td>
                        <td>&yen;{{data.base_price}}×{{data.days}}</td>
                    </tr>
                    {{if data.has_holidays}}
                        <tr>
                            <td colspan="3" style="text-align: left;padding-left: 0px">{{data.has_holidays}}为法定节假日,法定假日三倍工资</td>
                        </tr>
                        <tr>
                            <td>{{data.has_holidays}}加收双倍价格</td>
                            <td>&yen;{{data.base_price}}×{{data.has_holidays_num}}×2</td>
                        </tr>
                    {{/if}}
                    {{if data.patient_state==2}}
                        <tr>
                            <td>病患不可自理</td>
                            <td>+{{data.patient_state_coefficient*100}}%</td>
                        </tr>
                    {{/if}}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td>实际支付</td>
                        <td>&yen;{{data.total_amount}}</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </section>
        <section class="menu">
            <h3 class="menu-title">订单记录：<span class="toggle toggle-expanded" role="button">收起</span></h3>
            <ul id="history" class="history menuitem expanded">
                {{#data.record}}
            </ul>
        </section>
            {{if data.order_status=='wait_pay'}}
                <div class="operations">
                    <a class="cancel" role="button" data-no="{{data.order_no}}" href="#cancel">取消订单</a>
                    <a class="pay" role="button" data-no="{{data.order_no}}" href="#pay">立即支付</a>
                </div>
            {{/if}}
            {{if data.order_status=='wait_evaluate'}}
                <div class="operations">
                    <a class="evaluate" role="button" data-no="{{data.order_no}}" data-pic="{{data.pic}}" data-name="{{data.worker_name}}" href="#evaluate">评价</a>
                </div>
            {{/if}}
        {{include 'footTemplate'}}
    </script>
    <script src='../js/zepto-with-touch.js'></script>
    <script src='../js/template.js'></script>
    <script src='../js/public.js'></script>
    <script src="../js/my/orderDetail.js"></script>
    <script>
        /**
         * 对日期进行格式化，
         * @param date 要格式化的日期
         * @param format 进行格式化的模式字符串
         *     支持的模式字母有：
         *     y:年,
         *     M:年中的月份(1-12),
         *     d:月份中的天(1-31),
         *     h:小时(0-23),
         *     m:分(0-59),
         *     s:秒(0-59),
         *     S:毫秒(0-999),
         *     q:季度(1-4)
         * @return String
         * @author yanis.wang
         * @see	http://yaniswang.com/frontend/2013/02/16/dateformat-performance/
         */
        template.helper('dateFormat', function (date, format) {

            date = new Date(Date.parse(date.replace(/-/g,   "/")));

            var map = {
                "M": date.getMonth() + 1, //月份
                "d": date.getDate() //日
            };
            format = format.replace(/([yMd])+/g, function(all, t){
                var v = map[t];
                if(v !== undefined){
                    if(all.length > 1){
                        v = '0' + v;
                        v = v.substr(v.length-2);
                    }
                    return v;
                }
                else if(t === 'y'){
                    return (date.getFullYear() + '').substr(4 - all.length);
                }
                return all;
            });
            return format;
        });
    </script>
</body>
</html>