/*
* @Description: V1.1.0  
* @Author:      luoht
* @Update:      4/18/2015 08:49 AM)
*/
/* Reset & Global */
html, body, form, p, h1, h2, h3, h4, h5, h6, dl, ul, ol, li, dt, dd, select, figure { margin: 0; padding: 0; }
body { font: 32px/1.5 "Microsoft YaHei",Arial; -webkit-text-size-adjust: none; }
select, input, option, textarea { font-size: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; }
ul, ol, li { list-style-type: none; }
em, i { font-style: normal; }
a, a:visited { color: #fff; }
a { text-decoration: none; }
a img { border: 0 none; }
		html, body { margin: 0; padding: 0; height: 100%; overflow: hidden; }

body{background:#41b672;color:#fff}
.flipview { position: relative; margin: 0 auto; height: 100%; overflow: hidden; }
.flipview .container { height: 1000%; overflow: hidden; }
.flipview .container > * { position: relative; height: 10%; }
.content { position: relative; width: 640px; margin: 0 auto; top: 50%; overflow: hidden; -webkit-transform: translate(0,-50%); transform: translate(0,-50%); }
.slide h1{background:url(../images/logo1.png) 50% no-repeat;height:80px;color:rgba(0,0,0,0)}
.slide{text-align:center;}
.slide .title{font-size:34px}
.slide ul.title{width:70%;margin:0 auto}
.slide li{width:50%;float:left}

.slide .about{font-size:24px;line-height:40px;margin:20px 0}
.slide .about b{font-size:36px}
.slide img{margin-top:30px}
.slide .download{background:url(../images/first-btnbg.png) 50% no-repeat;font-size:38px;line-height:80px;margin:20px auto 0;width:306px}



